@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  min-height: 100vh;
}

@layer utilities {
  .gradient-button {
    background: linear-gradient(90deg, #1890ff 0%, #14b8a6 100%);
  }
  
  .gradient-icon {
    background: linear-gradient(135deg, #1890ff 0%, #14b8a6 100%);
  }
}
